.main{
  height: 280px;
  background: #2D3748;
  text-align: left;
  align-items: left;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  padding-right: 45%;
}
.heading{
    display: flex;
    width: 90%;
    margin: auto;
}
.logo{
    width: 70px;
    height: 64.72px;
}
.siteName{
    font-weight: bold;
    font-size: 28px;
    color: #FFFFFF;
    margin: 0px 24px;
    letter-spacing: 0.44em;
}
.subHeadings{
    width: 250px;
    margin-left:5% ;
    margin-top: 4%;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
   
}
.links{
    text-align: left;
    color: #FFFFFF;
    margin-top: 22px;

}
.impLink{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 13%;
}
.allLink{
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.copyRight{
    background: #2D3748;
    color: #FFFFFF;
    font-size: 14px;
}
