.mainContainer {
  margin-top: 20px;
}
.main {
  box-sizing: border-box;
  border-radius: 8px;
  width: 812px;
  height: 242px;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 1%;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  text-align: left;
  cursor: pointer;
}

.cardContainer {
  background-color: #ffffff;
  position: relative;
}

.containtHeading {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.time {
  font-size: 14px;
  font-weight: 400;
}

.avatarDiv {
  display: flex;
}

.avatarImg {
  height: 19.2px;
  width: 19.2px;
  position: absolute;
}

.avatarText {
  font-size: 14px;
  position: relative;
  left: 26px;
  top: 4px;
}

.description {
  font-size: 12px;
  text-align: left;
}

.descriptionIt {
  font-style: italic;
}

.logos {
  margin-top: 25px;
  display: flex;
  column-gap: 5px;
}

.logos img {
  height: 16px;
  width: 22px;
}

.cardBottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.avilable {
  font-size: 12px;
  color: #f1563f;
}

.downaero {
  margin-left: 5px;
}

.selectBtn {
  height: 44px;
  width: 100px;
  padding: 12px 16px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  border: none;
  color: #ffffff;
  background-color: #f1563f;
}

.scheduler {
  width: 812px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  margin-top: 2px;
  /* display: none; */
}

.schedule {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100px;
  cursor: pointer;
}
.schedule:hover {
  background-color: #e2e8f0;
}
.d {
  font-size: 12px;
}

.m {
  font-size: 14px;
  font-weight: 900;
}

.unitprice {
  font-size: 20px;
  color: #48bb78;
}

.unittext {
  font-size: 14px;
  font-weight: 900;
}

.nextaero {
  height: 32px;
  width: 32px;
  background-color: #f1563f;
  position: relative;
  margin-top: 45px;
  z-index: 999;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 810px) {
  .main {
    width: 90%;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  .selectBtn {
    margin-bottom: 5px;
  }
}
